<div class="docs-header-wrapper mb-5">
    <header class="site-header sticky <%= if(!contained){ return "docs-header" } %>">
        <nav class="navbar navbar-expand-lg navbar-dark p-0" style="background: #FFFBF9;">
            <div class="container-fluid p-0">
                <div class="logo-wrapper d-flex justify-content-between align-items-center">
                    <button class="navbar-toggler for-sidebar d-md-none" type="button" data-toggle="offcanvas">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="docs-logo d-flex align-items-center justify-content-center">
                        <a class="d-flex align-items-center" href="/<%= lang %>">
                            <img src="/assets/images/logo_top.png" alt="logo" class="mr-2"> 
                            <span><%= raw(t("top.title")) %></span>
                        </a> &nbsp;&nbsp; / Docs
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-label="Toggle navigation">
                        <!-- <span class="navbar-toggler-icon"></span> -->
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div>
                
                <div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarToggler">
                    <ul class="navbar-nav d-flex flex-row p-0">
                        <li class="nav-item pl-lg-0 pt-lg-2 pr-lg-2 pb-1 <%= if (current_path == "/en/docs/examples" || current_path == "/fr/docs/examples") { %> active<% } %>">
                            <a class="d-block" href="/docs/examples"><%= t("top.examples-tutorials") %></a>
                        </li>
        
                        <li class="nav-item p-lg-2 pb-1 <%= if (current_path == "/en/docs/support" || current_path == "/fr/docs/examples") { %> active<% } %>">
                            <a class="d-block" href="/docs/support"><%= t("top.support") %></a>
                        </li>
        
                        <li class="nav-item p-lg-2 pb-1 <%= if (current_path == "/en/docs/installation" || current_path == "/fr/docs/installation") { %> active<% } %>">
                            <a class="d-block" href="<%= docPath({name: "installation", lang: lang}) %>">
                                <%= t("top.docs") %>
                            </a>
                        </li>
        
                        <li class="nav-item p-lg-2 pb-1">
                            <a class="d-block" href="https://github.com/gobuffalo" target="_blank" rel="noopener noreferrer">GitHub</a>
                        </li>
        
                        <li class="nav-item p-lg-2 pb-1">
                            <a class="d-block" href="https://blog.gobuffalo.io" target="_blank" rel="noopener noreferrer"><%= t("top.blog") %></a>
                        </li>
        
                        <li class="nav-item p-lg-2 pb-1">
                            <a class="d-block" href="http://store.gobuffalo.io" target="_blank" rel="noopener noreferrer"><%= t("top.store") %> </a>
                        </li>
                    </ul>

                    <div class="d-flex align-items-center">
                        <%= form({class:"search-form d-flex",  action: searchPath({lang: lang}), method: "GET"}) { %>
                            <%= f.InputTag({name: "query", value: params["query"]}) %>
                            <input type="submit" class="btn btn-buffalo cap ml-2" value="<%= t("menu.search") %>">
                        <% } %>
            
                        <%= form({action: "/lang", class: "ml-2"}) { %>
                            <div class="language-wrapper">
                                <%= f.SelectTag({name: "language", options: {"EN": "en", "FR": "fr"}, id: "language", value: lang, hide_label: true}) %>
                            </div>
                            <%= f.InputTag({type: "hidden", value: current_path, name: "url"}) %>
                            <%= f.InputTag({type: "hidden", value: lang, name: "oldLanguage"}) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="docs-landing-wrapper">
        <%= contentOf("docsLanding") %>
    </div>
</div>

<!-- <div class="docs-header-wrapper mb-5">
    <header class="site-header sticky d-flex justify-content-between align-items-center">
        <nav class="navbar p-0">
            <div class="docs-logo d-flex align-items-center justify-content-center">
                <a class="d-flex align-items-center" href="/<%= lang %>">
                    <img src="/assets/images/logo_top.png" alt="logo" class="mr-2"> 
                    <span><%= raw(t("top.title")) %></span>
                </a> &nbsp;&nbsp; / Docs
            </div>

            <ul class="navbar-nav d-flex flex-row p-0">
                <li class="nav-item pl-lg-0 pt-lg-2 pr-lg-2 pb-1 <%= if (current_path == "/en/docs/examples" || current_path == "/fr/docs/examples") { %> active<% } %>">
                    <a class="d-block" href="/docs/examples"><%= t("top.examples-tutorials") %></a>
                </li>

                <li class="nav-item p-lg-2 pb-1 <%= if (current_path == "/en/docs/support" || current_path == "/fr/docs/examples") { %> active<% } %>">
                    <a class="d-block" href="/docs/support"><%= t("top.support") %></a>
                </li>

                <li class="nav-item p-lg-2 pb-1 <%= if (current_path == "/en/docs/installation" || current_path == "/fr/docs/installation") { %> active<% } %>">
                    <a class="d-block" href="<%= docPath({name: "installation", lang: lang}) %>">
                        <%= t("top.docs") %>
                    </a>
                </li>

                <li class="nav-item p-lg-2 pb-1">
                    <a class="d-block" href="https://github.com/gobuffalo" target="_blank" rel="noopener noreferrer">GitHub</a>
                </li>

                <li class="nav-item p-lg-2 pb-1">
                    <a class="d-block" href="https://blog.gobuffalo.io" target="_blank" rel="noopener noreferrer"><%= t("top.blog") %></a>
                </li>

                <li class="nav-item p-lg-2 pb-1">
                    <a class="d-block" href="http://store.gobuffalo.io" target="_blank" rel="noopener noreferrer"><%= t("top.store") %> </a>
                </li>
            </ul>

            <div class="d-flex align-items-center">
                <%= form({class:"search-form d-flex",  action: searchPath({lang: lang}), method: "GET"}) { %>
                    <%= f.InputTag({name: "query", value: params["query"]}) %>
                    <input type="submit" class="btn btn-buffalo cap ml-2" value="<%= t("menu.search") %>">
                <% } %>
    
                <%= form({action: "/lang", class: "ml-2"}) { %>
                    <div class="language-wrapper">
                        <%= f.SelectTag({name: "language", options: {"EN": "en", "FR": "fr"}, id: "language", value: lang, hide_label: true}) %>
                    </div>
                    <%= f.InputTag({type: "hidden", value: current_path, name: "url"}) %>
                    <%= f.InputTag({type: "hidden", value: lang, name: "oldLanguage"}) %>
                <% } %>
            </div>
        </nav>
    </header>

    <div class="docs-landing-wrapper">
        <%= contentOf("docsLanding") %>
    </div>
</div> -->