<div class="feedback">
    <h2><%= t("docs.feedback.title") %></h2>

    <div class="feedback-row">
        <div class="col-md-9">
            <%= t("docs.feedback.edit") %>
        </div>
        <div class="col-md-3">
            <a href="<%= sourceRoot %><%= current_template %>" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
                <i class="fa fa-pencil"></i> <%= t("docs.improve-page-button") %>
            </a>
        </div>
    </div>
    <div class="feedback-row">
        <div class="col-md-9">
            <%= t("docs.feedback.issue") %>
        </div>
        <div class="col-md-3">
            <a href="https://github.com/gobuffalo/gobuffalo/issues/new" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
                <i class="fa fa-info-circle"></i> <%= t("docs.new-issue-button") %>
            </a>
        </div>
    </div>
</div>
