<!-- Sidebar -->
<aside class="col-md-3 sidebar sidebar-boxed sidebar-dark">

  <ul class="sidenav dropable ">
    <li class="sidebar-form">
      <%= form({action: "/lang"}) { %>
        <%= f.SelectTag({name: "language", options: supported_languages, id: "language", value: lang, label: t("menu.language")}) %>
        <%= f.InputTag({type: "hidden", value: current_path, name: "url"}) %>
        <%= f.InputTag({type: "hidden", value: lang, name: "oldLanguage"}) %>
      <% } %>
    </li>

    <li>
      <a href="<%= docPath({name: "overview", lang: lang}) %>"><%= t("menu.overview") %></a>
    </li>

    <li>
      <a href="#"><%= t("menu.release-notes") %></a>
      <ul class="sidenav dropable">
        <li>
          <a href="<%= docPath({name: "release-notes/buffalo/v0149", lang: lang}) %>" hreflang="<%= lang %>">Buffalo@v0.14.9</a>
          <a href="<%= docPath({name: "release-notes/buffalo/v0148", lang: lang}) %>" hreflang="<%= lang %>">Buffalo@v0.14.8</a>
          <a href="<%= docPath({name: "release-notes/buffalo/v0147", lang: lang}) %>" hreflang="<%= lang %>">Buffalo@v0.14.7</a>
          <a href="<%= docPath({name: "release-notes/buffalo/v0146", lang: lang}) %>" hreflang="<%= lang %>">Buffalo@v0.14.6</a>
          <a href="<%= docPath({name: "release-notes/buffalo/v0145", lang: lang}) %>" hreflang="<%= lang %>">Buffalo@v0.14.5</a>
          <a href="<%= docPath({name: "release-notes/buffalo/v0144", lang: lang}) %>" hreflang="<%= lang %>">Buffalo@v0.14.4</a>
          <a href="<%= docPath({name: "release-notes/buffalo/v0143", lang: lang}) %>" hreflang="<%= lang %>">Buffalo@v0.14.3</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#"><%= t("menu.getting-started") %></a>
      <ul class="sidenav dropable">
        <li>
          <a href="<%= docPath({name: "getting-started/installation", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.installation") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "getting-started/integrations", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.integrations") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "getting-started/new-project", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.new-project") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "getting-started/directory-structure", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.directory-structure") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "getting-started/config-vars", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.config-variables") %></a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#"><%= t("menu.request-handling") %></a>
      <ul class="sidenav dropable">
        <li>
          <a href="<%= docPath({name: "routing", lang: lang}) %>" hreflang="<%= lang %>">Routing</a>
        </li>

        <li>
          <a href="<%= docPath({name: "actions", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.actions") %></a>
        </li>

        <li>
          <a href="<%= docPath({name: "resources", lang: lang}) %>" hreflang="<%= lang %>">Resources</a>
        </li>

        <li>
          <a href="<%= docPath({name: "context", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.context") %></a>
        </li>

        <li>
          <a href="<%= docPath({name: "bind", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.request-binding") %></a>
        </li>

        <li>
          <a href="<%= docPath({name: "middleware", lang: lang}) %>" hreflang="<%= lang %>">Middleware</a>
        </li>

        <li>
          <a href="<%= docPath({name: "errors", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.errors-handling") %></a>
        </li>

        <li>
          <a href="<%= docPath({name: "sessions", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.sessions") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "cookies", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.cookies") %></a>
        </li>
      </ul>
    </li>


    <li>
      <a href="#">Frontend</a>

      <ul class="sidenav dropable">
        <li>
          <a href="<%= docPath({name: "rendering", lang: lang}) %>" hreflang="<%= lang %>">Rendering</a>
        </li>
        <li>
          <a href="<%= docPath({name: "templating", lang: lang}) %>" hreflang="<%= lang %>">Templating</a>
        </li>

        <li>
          <a href="<%= docPath({name: "layouts", lang: lang}) %>" hreflang="<%= lang %>">Layouts</a>
        </li>

        <li>
          <a href="<%= docPath({name: "iterating", lang: lang}) %>" hreflang="<%= lang %>">Iterating</a>
        </li>

        <li>
          <a href="<%= docPath({name: "partials", lang: lang}) %>" hreflang="<%= lang %>">Partials</a>
        </li>

        <li>
          <a href="<%= docPath({name: "helpers", lang: lang}) %>" hreflang="<%= lang %>">Helpers</a>
        </li>

        <li>
          <a href="<%= docPath({name: "custom-helpers", lang: lang}) %>" hreflang="<%= lang %>">Custom Helpers</a>
        </li>

        <li>
          <a href="<%= docPath({name: "flash-messages", lang: lang}) %>" hreflang="<%= lang %>">Flash Messages</a>
        </li>

        <li>
          <a href="<%= docPath({name: "forms", lang: lang}) %>" hreflang="<%= lang %>">Forms</a>
        </li>

        <li>
          <a href="<%= docPath({name: "assets", lang: lang}) %>" hreflang="<%= lang %>">Asset Pipeline</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#"><%= t("menu.db") %></a>

      <ul class="sidenav dropable">
        <li>
          <a href="<%= docPath({name: "db/getting-started", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-getting-started") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/toolbox", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-toolbox") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/configuration", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-configuration") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/models", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-models") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/migrations", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-migrations") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/fizz", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-fizz") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/querying", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-querying") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/mutations", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-mutations") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/raw-queries", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-raw-queries") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/relations", lang: lang}) %>" hreflang="<%= lang %>">Associations and Relationships</a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/callbacks", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-callbacks") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/scoping", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-scoping") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "db/buffalo-integration", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.db-buffalo-integration") %></a>
        </li>
        <li>
          <a href="https://andrew-sledge.gitbooks.io/the-unofficial-pop-book/content/" target="_blank">The Unofficial Pop Book</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#">Guides</a>
      <ul class="sidenav dropable">
        <li>
          <a href="<%= docPath({name: "gomods", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.gomods") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "goth", lang: lang}) %>" hreflang="<%= lang %>"><%= raw(t("menu.third-party-auth")) %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "auth", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.local-authentication") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "apis", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.apis") %></a>
        </li>
        <li>
          <a href="https://blog.gobuffalo.io/buffalo-docker-images-ff3938dcaa53" target="_blank">Docker Images</a>
        </li>
        <li>
          <a href="<%= docPath({name: "file-uploads", lang: lang}) %>" hreflang="<%= lang %>">File Uploads</a>
        </li>
        <li>
          <a href="<%= docPath({name: "tasks", lang: lang}) %>" hreflang="<%= lang %>">Tasks</a>
        </li>
        <li>
          <a href="<%= docPath({name: "workers", lang: lang}) %>" hreflang="<%= lang %>">Background Workers</a>
        </li>
        <li>
          <a href="<%= docPath({name: "mail", lang: lang}) %>" hreflang="<%= lang %>">Mailers</a>
        </li>
        <li>
          <a href="<%= docPath({name: "plugins", lang: lang}) %>" hreflang="<%= lang %>">Plugins</a>
        </li>
        <li>
          <a href="<%= docPath({name: "template-engines", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.template-engines") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "localization", lang: lang}) %>" hreflang="<%= lang %>">Localization</a>
        </li>
        <li>
          <a href="<%= docPath({name: "testing", lang: lang}) %>" hreflang="<%= lang %>">Testing</a>
        </li>
        <li>
          <a href="<%= docPath({name: "events", lang: lang}) %>" hreflang="<%= lang %>">Events</a>
        </li>
        <li>
          <a href="<%= docPath({name: "videos", lang: lang}) %>" hreflang="<%= lang %>">Videos</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#"><%= t("menu.deploy") %></a>
      <ul class="sidenav dropable">
        <li>
          <a href="<%= docPath({name: "deploy/building", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.building-binaries") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "deploy/cross-compiling", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.cross-compiling") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "deploy/proxy", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.using-proxy") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "deploy/systemd", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.systemd-service") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "deploy/providers", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.deploy-providers-solutions") %></a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#"><%= t("menu.help") %></a>
      <ul class="sidenav dropable">
        <li>
          <a href="<%= docPath({name: "troubleshooting", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.troubleshooting") %></a>
        </li>
        <li>
          <a href="<%= docPath({name: "slack", lang: lang}) %>" hreflang="<%= lang %>">#Buffalo/Slack</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="<%= docPath({name: "support", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.support") %></a>
    </li>
    <li>
      <a href="<%= docPath({name: "contributing", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.contributing") %></a>
    </li>

    <li>
      <a href="<%= sponsorsPath({lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.sponsors") %></a>
    </li>

    <li>
      <a href="<%= docPath({name: "releases", lang: lang}) %>" hreflang="<%= lang %>"><%= t("menu.releases") %></a>
    </li>

  </ul>

</aside>
<!-- END Sidebar -->
