<header class="site-header sticky">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="<%= if(contained){ return "container" } else { return "container-fluid"} %>">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <a class="navbar-brand" href="/<%= lang %>" id="logo">
                <span class="force-middle"></span>
                <img src="/assets/images/logo_top.png" alt="logo"> 
                <%= raw(t("top.title")) %>
                </a>
    
                <ul class="navbar-nav ml-auto">
                <li class="nav-item pt-2 <%= if (current_path == "/en/docs/examples" || current_path == "/fr/docs/examples") { %> active<% } %>">
                    <a href="/docs/examples"><%= t("top.examples-tutorials") %></a>
                </li>
                <li class="nav-item pt-2 <%= if (current_path == "/docs/support" || current_path == "/fr/docs/examples") { %> active<% } %>">
                    <a href="/docs/support"><%= t("top.support") %></a>
                </li>
    
                <li class="nav-item pt-2">
                    <a href="<%= docPath({name: "index", lang: lang}) %>">
                    <%= t("top.docs") %>
                    </a>
                </li>
    
                <li class="nav-item pt-2">
                    <a href="https://github.com/gobuffalo" target="_blank" rel="noopener noreferrer">GitHub</a>
                </li>
    
                <li class="nav-item pt-2">
                    <a href="https://blog.gobuffalo.io" target="_blank" rel="noopener noreferrer"><%= t("top.blog") %></a>
                </li>
    
                <li class="nav-item pt-2">
                    <a href="http://store.gobuffalo.io" target="_blank" rel="noopener noreferrer"><%= t("top.store") %> </a>
                </li>
    
                <li class="nav-item hero">
                    <a class="btn btn-buffalo" href="http://patreon.com/buffalo" target="_blank" rel="noopener noreferrer"><%= t("top.become-a-patreon") %></a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
</header>