<% seoDescription("Contribute to Buffalo as a sponsor") %>
<% seoKeywords(["buffalo", "go", "golang", "sponsor", "patreon", "contribute", "framework", "web"]) %>

<h1>Financial Backers of the Buffalo Project</h1>

<div class="jumbotron">
  <p>
  Buffalo is a community driven project that is run by individuals who believe that Buffalo is the way to quickly, and easily, build high quality, scalable applications in Go.
  </p>

  <p>
  Financial contributions to the Buffalo go towards ongoing development costs, servers, swag, conferences, etc...
  </p>

  <p>
  If you, or your company, uses Buffalo, please consider supporting this effort to make rapid web development in Go, simple, easy, and fun!
  </p>

  <p class="text-center">
    <a href="https://patreon.com/buffalo" target="_blank" class="btn btn-primary btn-xl">Support Buffalo Now!</a>
  </p>
</div>

<%= partial("partials/platinum_sponsors.html") %>
