$titles-orange: #CC471E;

.navbar-collapse.collapse.in {
    display: block!important;
}

.well {
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}


.main-content {
    padding-top: 40px;
    margin-bottom: 100px;
}
  
.sidebar-boxed .sidenav ul ul {
    padding-left: 0px;
}

.sidebar-boxed .sidenav ul ul a {
    padding-left: 24px !important;
}

h2 {
    line-height: 48px;
    color: #1f2a3c;
}

.info {
    @extend .alert;

    @extend .alert-info;

    i.fa {
        margin-right: 1em;
    }
}

.warning {
    @extend .alert;

    @extend .alert-warning;

    i.fa {
        margin-right: 1em;
    }
}

.get-started-btn {
    @extend .text-center;

    margin-top: 1em;
}

.faq {
    h6 {
        p {
        display: inline;
        }
    }
}

#global-footer {
    background-color: #010a2c;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-radius: 0;
    margin-bottom: 0;
    margin-right: -15px;
    color: #fff;

    a {
        color: #fff;
        text-decoration: underline #fff;
    }
}

.container + #global-footer {
    margin-right: 0;
    margin-left: 0;
}

@media screen and (max-width: 767px) {
    #global-footer {
        margin-left: -15px;
    }

    .container {
        & > #global-footer {
        margin-left: 0;
        }
    }
}

.presentation-banner {
    @extend .jumbotron;

    background-color: #FFF3CA;
    margin-left: -50px;
    margin-right: -50px;

    h2 {
        margin: 10px;
        margin-left: 0px;
        text-align: left;
    }

    h2::after {
        content: none;
    }

    .logo-presentation {
        @extend .float-right;

        width: 100%;
        min-width: 150px;
        max-width: 280px;
    }
}

.feature {
    @extend .col-12;
    @extend .col-3;

    h4 {
        color: $titles-orange;
        text-align: center;
        font-variant: small-caps;

        i.fa {
        color: #3b4b5b;
        display: block;
        font-size: 2em;
        margin-bottom: 0.6em;
        }
    }

    margin-bottom: 1em;
}

.sidebar-form {
    padding: 2px 20px !important;
    border-bottom: solid 1px #3c4c5f;

    label {
        color: #aaa;
    }

    select.form-control {
        background-color: #5b728f;
        border-color: #222;
        color: #eee;
    }
}

#platinum-sponsors {
    text-align: center;

    .logo {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
    }

    img {
        width: 120px;
    }
}

.main-content table {
    width: 100%;

    td, th {
        border-top: 1px solid #dee2e6;
        padding: .75rem;
        vertical-align: top;
    }

    thead > tr > th {
        color: #fff;
        background-color: #212529;
        border-color: #32383e;
    }
    }

    a {
    code {
        text-decoration: underline;
        text-decoration-color: #125B96;

        &:hover {
        text-decoration: none;
        }
    }
}

.since-version {
    @extend .label;

    @extend .label-primary;

    font-family: Arial, Helvetica, sans-serif;

    a {
        color: #fff;
    }
}

.feedback {
    border-top: solid 3px #dfdfdf;
}

.feedback-row {
    @extend .row;
    border-bottom: solid 1px #dfdfdf;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &:last-child{
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 7px;
    }
}