@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";
@import "~highlightjs/styles/monokai.css";
@import "theme.scss";
@import "skin.scss";
@import "custom.scss";

.main-content {
  padding-top: 40px;
}

.sidebar-boxed .sidenav ul ul {
  padding-left: 0px;
}

.sidebar-boxed .sidenav ul ul a {
  padding-left: 24px !important;
}

h2 {
  line-height: 48px;
}

