@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";
@import "~highlightjs/styles/monokai.css";
@import "theme.scss";
@import "skin.scss";
@import "custom.scss";

.main-content {
  padding-top: 40px;
  margin-bottom: 100px;
}

.sidebar-boxed .sidenav ul ul {
  padding-left: 0px;
}

.sidebar-boxed .sidenav ul ul a {
  padding-left: 24px !important;
}

h2 {
  line-height: 48px;
}

.info {
  @extend .alert;

  @extend .alert-info;

  i.fa {
    margin-right: 1em;
  }
}

.get-started-btn {
  @extend .text-center;

  margin-top: 1em;
}

.faq {
  h6 {
    p {
      display: inline;
    }
  }
}

footer {
  background-color: #f5f5f5;

  @extend .navbar;

  @extend .navbar-fixed-bottom;

  @extend .hidden-xs;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  @media (min-width: $screen-sm-min) {
    margin-left: 240px;
  }

  @media (min-width: $screen-md-min) {
    margin-left: 280px;
  }
}

.feature {
  @extend .col-xs-12;

  @extend .col-md-6;

  margin-bottom: 1em;
}

.language-selector {
  padding: 2px 20px !important;
}
