@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "./theme.css";
@import "./skin.css";
@import "./prism.css";
@import "./custom.css";

.main-content {
  padding-top: 0px;
}

.sidebar-boxed .sidenav ul ul {
  padding-left: 0px;
}

.sidebar-boxed .sidenav ul ul a {
  padding-left: 24px !important;
}
