@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply px-10;
    @apply mx-auto;
    max-width: 1500px;
}

.hero {
    background: #0a193f url('/images/bg.png') no-repeat left bottom;
    background-size: cover;
    box-sizing: border-box;
    padding: 150px 0px;
    position: relative;
}


.sponsors {
    background-color: #FFFBF9;
}