@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-padding-top: 94px;
}

.container {
    width: 100%;
    max-width: 1500px;

    @apply mx-auto md:px-10;
}


.hero {
    background: #0a193f url('/images/bg.png') no-repeat left bottom;
    background-size: cover;
    box-sizing: border-box;
    padding: 150px 0px;
    position: relative;
}

.sponsors {
    background-color: #FFFBF9;
}

.docssidebar {
    width: 350px;
}

.content {
    overflow: wrap;
}
.content h1 {
    @apply text-2xl md:text-4xl font-bold mb-3;
}

.content h2 {
    @apply text-xl md:text-2xl font-bold mb-3 mt-2;
}

.content h3 {
    @apply text-lg md:text-xl font-bold mb-3 mt-2;
}

.content h4 {
    @apply md:text-lg font-bold mb-3 mt-2;
}

.content p {
    @apply text-lg font-light mb-3 mt-2 break-normal;
}

.content .highlight {
    @apply mb-3;
}

.content .highlight pre {
    @apply p-3;
}

.content pre {
    @apply p-3 overflow-scroll;
}

.content p code, li code {
    @apply bg-gray-200 p-1 rounded-md text-base;
}

.content code {
    @apply break-all;
}

.content .card h4 {
    margin-bottom: 0 !important;
}


.content ul {
    @apply list-disc pl-3 mb-3;
}

.content ul li {
    @apply ml-6;
}

.content a {
    @apply text-blue-500 underline;
}

.content table {
    @apply w-full mb-3;
}

.content thead th {
    @apply font-bold bg-gray-300 p-2 mr-2;
}

.content tbody td {
    @apply p-2;
}

.esc {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.506 6h3.931V4.986H1.736v-1.39h2.488V2.583H1.736V1.196h2.69V.182H.506V6ZM8.56 1.855h1.18C9.721.818 8.87.102 7.574.102c-1.276 0-2.21.705-2.205 1.762-.003.858.602 1.35 1.585 1.585l.634.159c.633.153.986.335.988.727-.002.426-.406.716-1.03.716-.64 0-1.1-.295-1.14-.878h-1.19c.03 1.259.931 1.91 2.343 1.91 1.42 0 2.256-.68 2.259-1.745-.003-.969-.733-1.483-1.744-1.71l-.523-.125c-.506-.117-.93-.304-.92-.722 0-.375.332-.65.934-.65.588 0 .949.267.994.724ZM15.78 2.219C15.618.875 14.6.102 13.254.102c-1.537 0-2.71 1.086-2.71 2.989 0 1.898 1.153 2.989 2.71 2.989 1.492 0 2.392-.992 2.526-2.063l-1.244-.006c-.117.623-.606.98-1.262.98-.883 0-1.483-.656-1.483-1.9 0-1.21.591-1.9 1.492-1.9.673 0 1.159.389 1.253 1.028h1.244Z' fill='%2394a3b8'/%3E%3C/svg%3E")
}

.codetab .tabs-container{
    @apply flex flex-row flex-wrap px-0 gap-3 mb-2;
}

.codetab .tabs-container .button {
    @apply  ml-0 px-4 py-2 bg-gray-50 rounded-md border border-gray-300 cursor-pointer;
}

.codetab .tabs-container .button.active {
    @apply border-2 border-blue-500;
}
