{{ $currentPage := . | relLangURL }}
{{ .Scratch.Set "currentPage" $currentPage }}
<div class="min-w-max">
    <ul class="mb-5">
        {{ with .Site.GetPage "section" "documentation" }}
            {{ $section := . }}
            {{ range .RegularPages | lang.Merge .Sites.First.RegularPages }}
                {{ if .InSection $section }}
                    {{ $active := eq $currentPage (. | relLangURL)  }}
                    <li class="px-2 py-1.5 {{if $active}} bg-blue-200 rounded-sm border-l border-blue-800 {{end}}">
                        <a href="{{ .RelPermalink }}" class="hover:underline flex items-center">
                            {{- $image := (resources.Get .Params.Icon) -}}
                            <img src="{{$image.RelPermalink}}" class="w5 h-5 mr-1.5" alt="page-icon">
                            <span>{{ .Params.Name }}</span>
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>

    {{ $site := .Site }}
    {{ $enSite := .Sites.First }}
    {{ $sections := slice "getting_started" "request_handling" "frontend-layer" "database" "guides" "deploy" }}
    {{ range $sect := $sections }}
        {{ with $site.GetPage "section" . }}
            {{ .Scratch.Set "currentPage" $currentPage }}
            {{ .Scratch.Set "section" . }}
            {{ partial "sidebargroup" . }}
        {{ else }}
            {{ with $enSite.GetPage "section" . }}
                {{ .Scratch.Set "currentPage" $currentPage }}
                {{ .Scratch.Set "section" . }}
                {{ partial "sidebargroup" . }}
            {{ end }}
        {{ end }}
    {{ end }}

</div>
