<link rel="icon" href="{{(resources.Get "images/favicon.ico" ).RelPermalink }}" />
		<link rel="icon" type="image/png" href="{{ (resources.Get "images/favicon-32x32.png" ).RelPermalink }}" sizes="32x32" />

		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ (resources.Get "images/apple-touch-icon-57x57.png" ).RelPermalink }}" />
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ (resources.Get "images/apple-touch-icon-57x57.png" ).RelPermalink }}" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ (resources.Get "images/apple-touch-icon-114x114.png" ).RelPermalink }}" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ (resources.Get "images/apple-touch-icon-72x72.png" ).RelPermalink }}" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ (resources.Get "images/apple-touch-icon-144x144.png" ).RelPermalink }}" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ (resources.Get "images/apple-touch-icon-120x120.png" ).RelPermalink }}" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ (resources.Get "images/apple-touch-icon-152x152.png" ).RelPermalink }}" />
		
		<link rel="icon" type="image/png" href="{{ (resources.Get "images/favicon-16x16.png" ).RelPermalink }}" sizes="16x16" />