<title>Buffalo &ndash; Rapid Web Development in Go</title>
<meta name="google-site-verification" content="GwQmhkMw9KUTJYJUgsYTP47viiXEYKCHot3aW4Po4AI" />


{{- $description := "Put the fun back in writing Go web applications! A Ruby on Rails inspired, idiomatic, web framework written in Go."}}
{{ if .Params.SeoDescription }}
    {{- $description = .Params.SeoDescription }}
{{ end }}

<meta property="og:description" content="{{ $description}}" />
<meta name="description" content="{{$description}}" />
<meta name="twitter:description" content="{{$description}}" />

{{- $keywords := "go, golang, web, buffalo, framework, html, javascript, ruby, rails, fast, easy"}}
{{ if .Params.SeoKeywords }}
    {{- $keywords = delimit .Params.SeoKeywords ", " }}
{{ end }}

<meta name="keywords" content="{{$keywords}}">