{{ $section := .Scratch.Get "section" }}
{{ $currentPage := .Scratch.Get "currentPage" }}
<h2 class="text-gray-800 font-bold">{{ .Title }}</h2>
<ul class="mb-3 pl-2 py-2">
    {{ range .Site.Pages }}     
        {{ if .InSection $section }}   
            {{ $active := eq $currentPage (. | relLangURL)  }}
            <li class="px-2 py-1.5 {{if $active}} bg-blue-200 rounded-sm border-l border-blue-800 {{end}} p-0.5">
                <a href="{{.RelPermalink}}">{{ .Params.Name }}</a>
            </li>
        {{ end }}
    {{ end }}
</ul>     