
{{ define "main" }}
<section class="hero">
        <div class="container text-white">
            {{ partial "languageselector.html" . }}
        </div>
        <div class="container py-36">
            <div class="flex flex-row">
                <div class="max-w-2xl text-white text-center md:text-left">
                    <h1 class="text-center md:text-left text-6xl font-bold mb-10 ">{{ .Params.Tagline }}</h1>
                    {{ $started := .Site.GetPage "/documentation/getting_started/installation" }}
                    <a href="{{$started.RelPermalink}}" class=" bg-red-500 p-3 px-6 inline-block rounded-full text-white mb-8 uppercase font-bold">{{.Params.topCTA}}</a>

                    <ul class="space-y-3">
                        <li>
                            <span class="w-48 inline-block text-xl">{{.Params.latestVersionLabel}}:</span>
                            <span class="bg-gray-300 rounded-full inline-block p-4 py-1.5 font-bold text-gray-800 latest-lib-release"></span>
                        </li>

                        <li>
                            <span class="w-48 inline-block text-xl">{{.Params.latestCLILabel}}:</span>
                            <span class="bg-gray-300 rounded-full inline-block p-4 py-1.5 font-bold text-gray-800 latest-cli-release"></span>
                        </li>
                        <li>
                            <span class="w-48 inline-block text-xl">{{.Params.RequiresLabel}}:</span>
                            <span class="bg-gray-300 rounded-full inline-block p-4 py-1.5 font-bold text-gray-800">Go > {{ .Site.Params.GoMinVersion }}</span>
                        </li>
                    </ul>
                </div>
                <div class="hidden lg:flex lg:flex-grow justify-center">
                    {{- $image := (resources.Get "images/logo.svg") -}}  
                    <img src="{{$image.RelPermalink}}" alt="sponsor-logo" class="w-96 mx-auto">
                </div>
            </div>
        </div>

    </section>

    <section class="bg-gray-100">
        <div class="container py-20 text-center">
            <h2 class="text-center text-4xl mb-5 font-bold">{{.Params.FeaturesTitle}}</h2>
            <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 py-10 gap-x-5 gap-y-5">
                {{ range where .Site.Pages "Params.type" "feature" }}
                    
                    <div class="bg-white p-8 text-center rounded-lg shadow-lg">   
                        {{- $image := resources.Get .Params.Icon -}}  
                        <div class="h-20 my-4">
                            <img src="{{ $image.RelPermalink }}" alt="feature-icon" class="mx-auto my-auto"> 
                        </div>
                        

                        <h3 class="uppercase text-md text-red-500 font-bold mb-2">{{.Params.Title}}</h3>
                        <p class="text-x">{{.Content}}</p>
                    </div>
                {{end}}
            </div>
            
            {{ $started := .Site.GetPage "/documentation/getting_started/installation" }}
            <a href="{{$started.RelPermalink}}" class="bg-red-500 p-4 px-6 inline-block rounded-full text-white mb-5 uppercase font-bold">{{.Params.FeaturesCTA}}</a>
        </div>
    </section>

    <section class="bg-blue-800 py-10">
        <div class="container text-white text-center">
            <h2 class="text-center text-4xl font-bold mb-8">{{.Site.Params.FromOurBlog}}</h2>

            <div id="blog-content" class="md:grid md:grid-cols-3 gap-10 mb-10" data-read-more="{{.Site.Params.ReadMore}}"></div>

            <a href="https://blog.gobuffalo.io" class="bg-blue-700 border border-white p-3 px-6 inline-block rounded text-white mb-5 uppercase font-bold">{{.Site.Params.LearnMore}}</a>
        </div>
    </section>

    <section class="pt-12 pb-10 text-center sponsors">
        <div class="container">
            <h2 class="text-3xl mb-10 font-bold">{{.Params.SponsorsTitle}}</h2>
            <ul class="flex flex-col md:flex-row gap-16 justify-center">
                {{ range where .Site.Pages "Params.type" "sponsor" }}
                    <li>   
                        <a href="{{.Params.Website}}" class="flex flex-col items-center space-y-3 mb-10">
                            {{- $image := (resources.Get .Params.Image).Resize "400x webp" -}}  
                            <img src="{{$image.RelPermalink}}" alt="sponsor-logo" class="w-40 md:w-36 mb-5">
                            <h3 class="text-xl font-bold">{{.Params.Name}}</h3>
                        </a>
                    </li>
                {{end}}

                <li>   
                    <a href="/" class="flex flex-col items-center space-y-3">
                        <div class="w-36 text-blue-400 border-2 border-dashed border-blue-400 mb-4"> 
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-36 w-36" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                            </svg>
                        </div>
                        
                        <h3 class="text-xl font-medium">Your company</h3>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="text-center py-20">
        <h3 class="text-4xl font-bold mb-4">{{.Params.PatreonTitle}}</h3>
        <p class="mb-3 text-xl">{{.Params.PatreonContent}}</p>
        <a href="https://patreon.com/buffalo" class="bg-red-500 py-2 px-4 inline-block rounded-full text-white uppercase font-bold">{{.Params.PatreonCTA}}</a>
    </section>

    <section class="bg-blue-900 text-white text-center py-20">
        <div class="container">
            <h3 class="text-4xl font-bold mb-4">{{.Params.DocsTitle}}</h3>
            <p class="mb-3 text-xl">{{.Params.DocsContent}}</p>
            {{ $docs := .Site.GetPage "/documentation" }}
            <a href="{{$docs.RelPermalink}}" class="bg-red-500 py-2 px-4 text-sm inline-block rounded-full text-white uppercase font-bold">{{.Params.DocsCTA}}</a> 
        </div> 
    </section>
{{ end }}