<div class="docs-dropdown">
    <div class="dropdown-arrow"></div>
    <div class="dropdown-header">
        <h4><%= t("top.docs") %></h4>
    </div>
    <div class="dropdown-content">
        <div class="docs-group">
        <ul>
            <li><a href="<%= lang %>/docs/installation"><%= t("menu.getting-started") %></a></li>
            <li><a href="<%= lang %>/docs/routing">Request Handling</a></li>
            <li><a href="<%= lang %>/docs/rendering">Frontend</a></li>
            <li><a href="<%= lang %>/docs/deploy/building"><%= t("menu.deploy") %></a></li>
            <li><a href="<%= lang %>/docs/db/getting-started"><%= t("menu.db") %></a></li>
            <li><a href="<%= lang %>/docs/goth">Guides</a></li>
        </ul>
    </div>
    <div class="vertical-separator"></div>
    <div class="docs-group">
        <ul>
            <li><a href="<%= lang %>/docs/generators">Generators</a></li>
            <li><a href="<%= lang %>/docs/contributing"><%= t("menu.contributing") %></a></li>
            <li><a href="<%= lang %>/sponsors/">Sponsors</a></li>
            <li><a href="<%= lang %>/docs/releases">Releases</a></li>
            <li><a href="<%= lang %>/docs/troubleshooting"><%= t("menu.help") %></a></li>
        </ul>
        </div>
    </div>
</div>