<!-- Footer -->
<footer id="global-footer">
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 col-sm-6">
          <p><strong><%= raw(t("footer.copyright", {year: year})) %></strong></p>
          <p>
            <%= raw(t("footer.gopher")) %>
          </p>
        </div>
        <div class="col-md-5 col-sm-6">
          <ul class="footer-menu">
            <li>
              <a href="https://travis-ci.org/gobuffalo/buffalo" target="_blank" rel="noopener noreferrer">
                <img src="https://travis-ci.org/gobuffalo/buffalo.svg?branch=master" alt="Build Status" />
              </a>
            </li>
            <li>
              <a href="https://ci.appveyor.com/project/markbates/buffalo/branch/master" target="_blank" rel="noopener noreferrer">
                <img src="https://ci.appveyor.com/api/projects/status/fjv5u499p78uvbxa/branch/master?svg=true&passingText=Windows%20-%20OK&failingText=Windows%20-%20failed&pendingText=Windows%20-%20pending"
                  alt="Windows Build status" />
              </a>
            </li>
            <li>
              <a href="https://codeclimate.com/github/gobuffalo/buffalo" target="_blank" rel="noopener noreferrer"><img src="https://codeclimate.com/github/gobuffalo/buffalo/badges/gpa.svg" alt="Code Climate" /></a>
            </li>
            <li>
              <a href="https://goreportcard.com/report/github.com/gobuffalo/buffalo" target="_blank" rel="noopener noreferrer">
                <img src="https://goreportcard.com/badge/github.com/gobuffalo/buffalo" alt="Go Report Card" />
              </a>
            </li>
            <li>
              <a href="https://www.codetriage.com/gobuffalo/buffalo" target="_blank" rel="noopener noreferrer">
                <img src="https://www.codetriage.com/gobuffalo/buffalo/badges/users.svg" alt="Open Source Helpers" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->
