<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p>Copyright &copy;
          <%= year %>. All right reserved</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="footer-menu">
          <li><a href="https://github.com/gobuffalo/buffalo/blob/master/CHANGELOG.md" target="_blank">Changelog</a></li>
          <li>
            <a href="https://godoc.org/github.com/gobuffalo/buffalo" target="_blank"><img src="https://godoc.org/github.com/gobuffalo/buffalo?status.svg"></a>
          </li>
          <li>
            <a href="https://travis-ci.org/gobuffalo/buffalo" target="_blank"><img src="https://travis-ci.org/gobuffalo/buffalo.svg?branch=master"></a>
          </li>
          <li>
            <a href="https://codeclimate.com/github/gobuffalo/buffalo" target="_blank"><img src="https://codeclimate.com/github/gobuffalo/buffalo/badges/gpa.svg"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->
