<!-- Footer -->
<footer id="global-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p><%= raw(t("footer.copyright", {year: year})) %></p>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="footer-menu">
          <li>
            <a href="https://godoc.org/github.com/gobuffalo/buffalo" target="_blank" rel="noopener noreferrer"><img src="https://godoc.org/github.com/gobuffalo/buffalo?status.svg"></a>
          </li>
          <li>
            <a href="https://travis-ci.org/gobuffalo/buffalo" target="_blank" rel="noopener noreferrer"><img src="https://travis-ci.org/gobuffalo/buffalo.svg?branch=master"></a>
          </li>
          <li>
            <a href="https://codeclimate.com/github/gobuffalo/buffalo" target="_blank" rel="noopener noreferrer"><img src="https://codeclimate.com/github/gobuffalo/buffalo/badges/gpa.svg"></a>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <span class="text-muted">
          <%= raw(t("footer.gopher")) %>
        </span>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->
