<div class="row">
  <div class="col-md-12">
    <div style="text-align: center">
      <h2 class="title"><%= t("sponsors.platinum-title") %></h2>
    </div>
  </div>
  <div class="col-md-12" id="platinum-sponsors">
    <div class="logo">
      <a href="https://www.gopherguides.com" target="_blank" rel="noopener noreferrer">
        <img src="<%= assetPath("images/logos/gopherguides.png") %>" alt="Gopher Guides" /><br>
        Gopher Guides
      </a>
    </div>
    <div class="logo">
      <a href="https://www.papercall.io" target="_blank" rel="noopener noreferrer">
        <img src="<%= assetPath("images/logos/papercall.png") %>" alt="PaperCall.io" /><br>
        PaperCall.io
      </a>
    </div>
    <div class="logo">
      <a href="https://wawand.co" target="_blank" rel="noopener noreferrer">
        <img src="<%= assetPath("images/logos/wawandco.png") %>" alt="Wawandco" /><br>
        Wawandco
      </a>
    </div>
    <div class="logo">
      <a href="http://patreon.com/buffalo" target="_blank" rel="noopener noreferrer">
        <img src="<%= assetPath("images/landing_icons/plus.svg") %>" class="img-circle" alt="<%= t("sponsors.your-company-here") %>" /><br>
        <%= t("sponsors.your-company-here") %>
      </a>
    </div>
  </div>
</div>
