<div class="row">
  <div class="col-md-12">
    <div style="text-align: center">
      <h1 class="page-header">Platinum Sponsors</h1>
    </div>
  </div>
  <div class="col-md-12" id="platinum-sponsors">
    <div class="logo">
      <a href="https://www.gopherguides.com" target="_blank">
        <img src="<%= assetPath("images/logos/gopherguides.png") %>"><br>
        Gopher Guides
      </a>
    </div>
    <div class="logo">
      <a href="https://www.papercall.io" target="_blank">
        <img src="<%= assetPath("images/logos/papercall.png") %>"><br>
        PaperCall.io
      </a>
    </div>
    <div class="logo">
      <a href="http://patreon.com/buffalo" target="_blank">
        <img src="<%= assetPath("images/logos/missing.png") %>" class="img-circle"><br>
        Your Company Here
      </a>
    </div>
  </div>
</div>
