<ul class="nav nav-sidebar">
  <li><a href="/docs/getting-started">Getting Started</a></li>

  <hr>

  <li><a href="/docs/routing">Routing</a></li>
  <li><a href="/docs/middleware">Middleware</a></li>
  <li><a href="/docs/context">Context</a></li>
  <li><a href="/docs/errors">Error Handling</a></li>

  <hr>

  <li><a href="/docs/rendering">Rendering</a></li>
  <li><a href="/docs/templating">Templating</a></li>
  <li><a href="/docs/layouts">Layouts</a></li>
  <li><a href="/docs/partials">Partials</a></li>
  <li><a href="/docs/iterating">Iterating</a></li>
  <li><a href="/docs/helpers">Helpers</a></li>
  <li><a href="/docs/custom-helpers">Custom Helpers</a></li>
  <li><a href="/docs/flash-messages">Flash Messages</a></li>
  <li><a href="/docs/assets">Assets</a></li>

  <hr>

  <li><a href="/docs/generators">Generators</a></li>

  <hr>

  <li><a href="/docs/repl">Console/REPL</a></li>

  <hr>

  <li><a href="/docs/db">Database</a></li>

  <hr>

  <li><a href="http://patreon.com/buffalo" target="_blank" class=""><i class="fa fa-usd" aria-hidden="true"></i> Support Buffalo</a></li>
  <li><a href="https://blog.gobuffalo.io" target="_blank">Blog</a></li>
  <li><a href="/docs/contributing">Contributing</a></li>
  <li><a href="/docs/troubleshooting">Trouble Shooting</a></li>
  <li><a href="https://www.gopheracademy.com/training" target="_blank">Training/Consulting</a></li>
  <li><a href="https://gophers.slack.com/messages/buffalo/" target="_blank">#Buffalo/Slack</a></li>
  <li><a href="https://github.com/gobuffalo/buffalo/blob/master/CHANGELOG.md" target="_blank">CHANGELOG</a></li>
</ul>

<div class="hidden-xs">
  <hr>
  <img src="/assets/images/logo.svg">
  <p>
    <em>
    Buffalo Gopher designed by <a href="https://twitter.com/ashleymcnamara" target="_blank">Ashley McNamara</a> - Original Gopher designed by Renee French
  </em>
  </p>
</div>
