<ul class="nav nav-sidebar">
  <li><a href="/docs/getting-started">Getting Started</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="/docs/routing">Routing</a></li>
  <li><a href="/docs/middleware">Middleware</a></li>
  <li><a href="/docs/context">Context</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="/docs/rendering">Rendering</a></li>
  <li><a href="/docs/templating">Templating</a></li>
  <li><a href="/docs/layouts">Layouts</a></li>
  <li><a href="/docs/partials">Partials</a></li>
  <li><a href="/docs/helpers">Helpers</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="/docs/pop">Database (Pop/Soda)</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="/docs/contributing">Contributing</a></li>
  <li><a href="https://github.com/markbates/buffalo/blob/master/SHOULDERS.md">Shoulders of Giants</a></li>
</ul>
