<!-- Sidebar -->
<aside class="col-md-3 col-sm-3 sidebar sidebar-boxed sidebar-dark">

  <ul class="sidenav dropable ">

    <li class="sidebar-form">

  <%= form({action: "/search", method: "GET"}) { %>
      <%= f.InputTag({name: "query", placeholder: "enter search query here", value: params["query"]}) %>
  <% } %>

    </li>
    <li class="sidebar-form">
      <%= form({action: "/lang"}) { %>
        <%= f.SelectTag({name: "language", options: {"English": "en", "Français": "fr"}, id: "language", value: lang, label: t("menu.language")}) %>
        <%= f.InputTag({type: "hidden", value: current_path, name: "url"}) %>
      <% } %>
    </li>

    <li>
      <a href="/"><%= t("menu.overview") %></a>
    </li>
    <li>
      <a href="#"><%= t("menu.getting-started") %></a>
      <ul class="sidenav dropable">
        <li>
          <a href="/docs/installation"><%= t("menu.installation") %></a>
        </li>
        <li>
          <a href="/docs/new-project"><%= t("menu.new-project") %></a>
        </li>
        <li>
          <a href="/docs/directory-structure"><%= t("menu.directory-structure") %></a>
        </li>
        <li>
          <a href="/docs/config-vars"><%= t("menu.config-variables") %></a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#">Request Handling</a>
      <ul class="sidenav dropable">
        <li>
          <a href="/docs/routing">Routing</a>
        </li>

        <li>
          <a href="/docs/context">Context</a>
        </li>

        <li>
          <a href="/docs/bind">Request Binding</a>
        </li>

        <li>
          <a href="/docs/middleware">Middleware</a>
        </li>

        <li>
          <a href="/docs/errors">Error Handling</a>
        </li>

        <li>
          <a href="/docs/sessions">Sessions</a>
        </li>
        <li>
          <a href="/docs/cookies">Cookies</a>
        </li>
      </ul>
    </li>


    <li>
      <a href="#">Frontend</a>

      <ul class="sidenav dropable">
        <li>
          <a href="/docs/rendering">Rendering</a>
        </li>
        <li>
          <a href="/docs/templating">Templating</a>
        </li>

        <li>
          <a href="/docs/layouts">Layouts</a>
        </li>

        <li>
          <a href="/docs/iterating">Iterating</a>
        </li>

        <li>
          <a href="/docs/partials">Partials</a>
        </li>

        <li>
          <a href="/docs/helpers">Helpers</a>
        </li>

        <li>
          <a href="/docs/custom-helpers">Custom Helpers</a>
        </li>

        <li>
          <a href="/docs/flash-messages">Flash Messages</a>
        </li>

        <li>
          <a href="/docs/forms">Forms</a>
        </li>

        <li>
          <a href="/docs/assets">Asset Pipeline</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/generators">Generators</a>
    </li>

    <li>
      <a href="#">Database</a>

      <ul class="sidenav dropable">
        <li>
          <a href="/docs/db">Getting Started</a>
        </li>
        <li>
          <a href="/docs/db/generators">Generators</a>
        </li>
        <li>
          <a href="/docs/db/migrations">Migrations</a>
        </li>
        <li>
          <a href="https://github.com/gobuffalo/pop/tree/master/fizz#fizz" target="_blank">Fizz</a>
        </li>
        <li>
          <a href="/docs/db/relations">Associations and Relationships</a>
        </li>
        <li>
          <a href="/docs/db/callbacks">Callbacks</a>
        </li>
        <li>
          <a href="/docs/db/fields">Managing Model Fields</a>
        </li>
        <li>
          <a href="https://andrew-sledge.gitbooks.io/the-unofficial-pop-book/content/" target="_blank">The Unofficial Pop Book</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#">Guides</a>
      <ul class="sidenav dropable">
        <li>
          <a href="https://blog.gobuffalo.io/buffalo-docker-images-ff3938dcaa53" target="_blank">Docker Images</a>
        </li>
        <li>
          <a href="/docs/file-uploads">File Uploads</a>
        </li>
        <li>
          <a href="/docs/tasks">Tasks</a>
        </li>
        <li>
          <a href="/docs/workers">Background Workers</a>
        </li>
        <li>
          <a href="/docs/mail">Mailers</a>
        </li>
        <li>
          <a href="/docs/plugins">Plugins</a>
        </li>
        <li>
          <a href="/docs/template-engines">Template Engines</a>
        </li>
        <li>
          <a href="/docs/localization">Localization</a>
        </li>
        <li>
          <a href="/docs/testing">Testing</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#"><%= t("menu.deploy") %></a>
      <ul class="sidenav dropable">
        <li>
          <a href="/docs/building"><%= t("menu.building-binaries") %></a>
        </li>
        <li>
          <a href="/docs/proxy"><%= t("menu.using-proxy") %></a>
        </li>
        <li>
          <a href="/docs/systemd"><%= t("menu.systemd-service") %></a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#"><%= t("menu.help") %></a>
      <ul class="sidenav dropable">
        <li>
          <a href="/docs/troubleshooting"><%= t("menu.troubleshooting") %></a>
        </li>
        <li>
          <a href="<%= trainingURL %>" target="_blank" rel="noopener noreferrer"><%= t("menu.training-and-consulting") %></a>
        </li>
        <li>
          <a href="/docs/slack">#Buffalo/Slack</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/docs/contributing"><%= t("menu.contributing") %></a>
    </li>

    <li>
      <a href="/sponsors"><%= t("menu.sponsors") %></a>
    </li>

    <li>
      <a href="/docs/releases"><%= t("menu.releases") %></a>
    </li>

  </ul>

</aside>
<!-- END Sidebar -->
