<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="<%= if(metaKeywords) { %><%= metaKeywords %><% } else { %>go, golang, web, buffalo, framework, html, javascript, ruby, rails, fast, easy<% } %>">
  <meta name="robots" content="index,follow">

  <!-- common social tags -->
  <meta property=og:site_name content="Buffalo Go web framework" />
  <meta property=og:image content="https://gobuffalo.io/assets/images/buffalo.png" />
  <meta property=og:type content="website" />
  <meta property=og:url content="https://gobuffalo.io" />

  <meta name=twitter:card content="summary" />
  <meta name=twitter:site content="@gobuffalo_io" />
  <meta name=twitter:creator content="Mark Bates" />
  <meta name=twitter:url content="https://gobuffalo.io/" />
  <meta name=twitter:image content="https://gobuffalo.io/assets/images/buffalo.png" />

  <!-- document-specific social tags -->
  <meta property="og:title" content="<%= if (pageTitle) { %><%= pageTitle %> &#183; <% } %><%= raw(t("head.title")) %>" />
  <meta name="twitter:title" content="<%= if (pageTitle) { %><%= pageTitle %> &#183; <% } %><%= raw(t("head.title")) %>" />

  <meta property="og:description" content="<%= if(metaDescription) { %><%= metaDescription %><% } else { %><%= raw(t("head.description")) %><% } %>" />
  <meta name="description" content="<%= if(metaDescription) { %><%= metaDescription %><% } else { %><%= raw(t("head.description")) %><% } %>" />
  <meta name="twitter:description" content="<%= if(metaDescription) { %><%= metaDescription %><% } else { %><%= raw(t("head.description")) %><% } %>" />

  <link rel="canonical" href="https://gobuffalo.io<%= current_path %>" />
  <link rel="alternate" href="https://gobuffalo.io<%= localized_current_path("en") %>" hreflang="x-default" />
  <%= for(lang, code) in supported_languages { %> 
  <link rel="alternate" href="https://gobuffalo.io<%= localized_current_path(code) %>" hreflang="<%= code %>" title="<%= lang %>" />
  <% } %>
  <meta name="google-site-verification" content="GwQmhkMw9KUTJYJUgsYTP47viiXEYKCHot3aW4Po4AI" />

  <title><%= if (pageTitle) { %><%= pageTitle %> &#183; <% } %><%= raw(t("head.title")) %></title>

  <!-- Styles -->
  <%= stylesheetTag("application.css") %>
  <%= stylesheetTag("home.css") %>

  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">

  <!-- Favicons -->
  <link rel="icon" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16" />

  <style type="text/css" media="screen">
    <%= contentOf("style") {} %>
  </style>
</head>

<body class="landing-page">
  <%= partial("partials/topbar.html", {contained: true}) %>

  <main class="container-fluid">
    <article class="main-content" role="main">
      <%= yield %>
    </article>
  </main>

  <%= partial("partials/footer.html") %>
  <%= partial("partials/analytics.html") %>
  <%= javascriptTag("application.js") %>
</body>
</html>
