<% seoDescription("Search") %>
<% seoKeywords(["buffalo", "go", "golang", "search"]) %>

<div class="search-wrapper">
  <% contentFor("docsLanding") { %>
    <%= partial("docs/landing.html", {title: t("search.title")}) %>
  <% } %>

  <div>
    <%= if (results) { %>
      <h2 class="m-0"><%= results.Total %> <%= pluralize_uint("match", results.Total) %> for <code><%= params["query"] %></code></h2>

      <ul class="results-list p-0">
        <%= for (hit) in results.Hits { %>
          <li>
            <a href="<%= hit.ID %>" class="d-flex justify-content-between align-items-center">
              <div>
                <span class="results-list-item-title"><%= hit.ID %></span>
                <%= for (body) in hit.Fragments["body"] { %>
                  <%= debug(body) %>
                <% } %>
              </div>

              <img src="<%= assetPath("/images/arrow-right.svg") %>" alt="">
            </a>
          </li>
        <% } %>
      </ul>
    <% } %>
  </div>
</div>