<% seoDescription("Sponsoriser Buffalo") %>
<% seoKeywords(["buffalo", "go", "golang", "sponsor", "patreon", "contribuer", "framework", "web"]) %>

<%= h1("Soutiens financiers du projet Buffalo") %>

<div class="jumbotron">
    <p>
        Buffalo est un projet géré par une communauté. Il est dirigé par des personnes qui croient que Buffalo est la solution pour construire, 
        rapidement et facilement, des applications évolutives et de grande qualité en Go.
    </p>

    <p>
        Les contributions financières au projet Buffalo sont investies dans les coûts de développement, les serveurs, goodies, conférences, etc.
    </p>

    <p>
        Si vous, ou votre entreprise, utilisez Buffalo ; veuillez envisager de soutenir ce travail pour rendre le développement Web en Go rapide,
        simple et fun !
    </p>

    <p class="text-center">
        <a href="https://patreon.com/buffalo" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-xl">Soutenez Buffalo dès maintenant !</a>
    </p>
</div>

<%= partial("platinum_sponsors.html") %>