<% seoDescription("Contribuye a Buffalo con patrocinador") %>
<% seoKeywords(["buffalo", "go", "golang", "sponsor", "patreon", "contribuir", "framework", "web"]) %>

<h1>Patrocinadores financieros del proyecto Buffalo</h1>

<div class="jumbotron">
    <p>
        Buffalo es un proyecto impulsado por la comunidad que está dirigido por personas que creen que Buffalo es la manera de crear rápidamente y de forma sencilla aplicaciones de alta calidad y escalables en Go.
    </p>

    <p>
        Las contribuciones financieras a Buffalo se destinan a costos de desarrollo, servidores, swag, conferencias, etc...
    </p>

    <p>
        Si usted, o su empresa, utiliza Buffalo, considere apoyar este proyecto para hacer un rápido desarrollo web en Go, simple, fácil y divertido!
    </p>

    <p class="text-center">
        <a href="https://patreon.com/buffalo" target="_blank" class="btn btn-primary btn-xl">Apoye Buffalo ahora!</a>
    </p>
</div>

<%= partial("partials/platinum_sponsors.html") %>